@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		'Helvetica Neue', sans-serif;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: white;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 10px;
	outline: none;
	border-style: none;
	cursor: pointer;
	height: 48px;
}

h2 {
	font-family: 'Fredoka One';
	text-align: center;
}

.modal-center {
	border-radius: 10px;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(26px);
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	max-width: 600px;
	min-width: 300px;
}

.modal-info {
	border-radius: 10px;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(26px);
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	padding: 10px;
	gap: 20px;
	width: 50%;
	min-width: 300px;
	max-width: 690px;
}

.modal-info > h2,
p {
	margin: 0px;
}

.modal-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.75);
}

.modal-center .desc-text {
	font-family: 'Fredoka One';
	font-size: 20px;
}

.icon-button {
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 48px;
	position: absolute;
	cursor: pointer;
	margin: 10px;
}

.flex-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 10px;
}


.about-button {
		top: 0px;
		right: 0px;
		background-image: url('/icon_info.png');
		position: fixed;
	}

@media (max-width: 500px) {
	.icon-button {
		width: 28px;
		height: 28px;
		margin: 5px;
		background-size: 28px;
	}
	.overlay-button {
		width: 28px;
		height: 28px;
		background-size: 28px;
		margin: 5px;
	}
	#title {
			font-size: 18px;
			line-height: 20px;
		}
}
